* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFDF2;
    color: #000000;
}

.navbar {
    display: flex;
    background-color: pink;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.logo {
  margin: 0;
}
.navbar li {
    list-style-type: none;
    font-size: 20px;
}

.cart-box {
    display: flex;
    align-items: center;
    gap: 20px;

}




/* search box input ============= */

.search-box {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border-radius: 14px 0 0 14px;
    border: none;
    width: 350px;
}

/* search icon  */

.search-icon {
    background-color: #ffce12;
    padding: 10px;
    border-radius: 0 14px 14px 0;
    cursor: pointer;
}

/* hamburger for responsive navbar --------------------------- */

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}


@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .search-box {
    display: none; 
  }

  .cart-box {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: pink;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  .cart-box.active {
    display: flex;
  }
}

/* product box css  */

.products {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;

}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #fff;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 280px;
    /* object-fit: contain; */
    object-fit: fit;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product-card .price {

    font-size: 18px;
    font-weight: bold;
    color: #970747;
    margin-bottom: 10px;

}

.product-card button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #970747;
  color: white;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #920000;
}


/* cart============================ */
#cartItems {
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item button {
  padding: 4px 8px;
}




/* product details page css */
.product-detail {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.product-detail img {
  width: 300px;
  border-radius: 8px;
}

.product-info h2 {
  margin-bottom: 10px;
}

.product-info .price {
  font-size: 22px;
  color: #0d6efd;
  margin: 10px 0;
}

.product-info button {
  padding: 10px 20px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
}



/* count css */
.cart-icon {
  position: relative;
  cursor: pointer;
}

#cartCount {
  position: absolute;
  top: -8px;
  right: -15px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}


/* category css  */



.category-filter {
  display: flex;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

.category-filter button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #970747;
  color: white;
  cursor: pointer;
}

.category-filter button:hover {
  background-color: #970747;
}


/* responsive category section css=============== */


@media (max-width: 768px) {
  .category-filter {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
  }

  .category-filter::-webkit-scrollbar {
    display: none; 
  }

  .category-filter button {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}




/* login form css ================================================= */
.auth-container {
  width: 500px;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.auth-container input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 8px;
}

.auth-container button {
  padding: 10px 20px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#toggle-link {
  color: #0d6efd;
  cursor: pointer;
}



/* login -out btn css  */

#user-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

#user-section button{
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#user-section button:hover {
  background-color: #a71d2a;
}


#user-section a{

   padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}